.settlememt_header {
    position: relative;
    z-index: 3;
    padding: 22px 16px 20px 44px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}
.settlememt_header[aria-label="매출수수료"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background-image: url(../public/images/settlement_title_icon_01.svg);
}
.settlememt_header .select_wrap {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    border: 1px solid #c2c1c1;
}
.select_wrap .select_box {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-right: 4px;
}
.select_wrap .select_box>button {
    position: relative;
    height: 28px;
    padding: 0 28px 0 12px;
    font-size: 16px;
    font-weight: 700;
}
.select_wrap .select_box>button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 10px;
    height: 8px;
    margin-top: -4px;
    background-image: url(../public/images/arrow_down_icon_01.svg);
}
.select_box .select_box_list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: auto;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ebeaea;
}
.select_box>button[aria-selected="true"]+.select_box_list {
    display: block;
}
.select_box .select_box_list li {
    padding: 4px 12px;
    line-height: 24px;
    cursor: pointer;
}
.calendar_wrap {
    position: relative;
    display: inline-block;
}
.calendar_wrap:hover::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
.calendar_wrap .date {
    position: relative;
    z-index: 1;
}
.calendar_wrap .calendar_box {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    padding: 6px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 14px 60px rgba(0, 0, 0, 0.15);
}
.calendar_wrap[aria-selected="true"] .calendar_box {
    display: block;
}
.calendar_box .year_select {
    position: relative;
    padding: 0 10px;
    line-height:30px;
    font-size: 14px;
}
.calendar_box .year_select .btn_wrap {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    display: flex;
}
.calendar_box .year_select .btn_wrap button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 22px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
.calendar_box .year_select .btn_wrap button[aria-hidden="true"] {
    visibility: hidden;
}
.calendar_box .year_select .btn_wrap button:hover {
    background-color: #f5f5f5;
}
.calendar_box .month_select {
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-template-columns: repeat(3, 1fr);
}
.calendar_box .month_item {    
    padding: 0 14px;
    line-height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.calendar_box .month_item:hover {
    background-color: #f5f5f5;
}
.select_box .select_box_list li:not(:first-child) {
    border-top: 1px solid #ebeaea;
}
.select_box .select_box_list li:hover {
    background-color: #ebeaea;
}
.table_summury_wrap {
    position: relative;
    padding:0 16px;
}
.table_summury_wrap .header {
    position: relative;
    padding: 21px 0 21px 28px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}
.table_summury_wrap .header[aria-label="기타수수료"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background-image: url(../public/images/settlement_title_icon_02.svg);
}
.table_summury_wrap .table_wrap table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}
.table_summury_wrap .table_wrap table th {
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    background-color: #ebeaea;
    border-bottom: 1px solid #2e3233;
}
.table_summury_wrap .table_wrap table td {
    height: 28px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ebeaea;
}
.table_summury_wrap .table_wrap table tr:last-child td {
    border-bottom: 1px solid #707070;
}
.table_summury_wrap .table_wrap table .premium td {
    border-bottom: 1px solid #c2c1c1;
}
.table_summury_wrap .table_wrap table .total td {
    font-weight: 700;
    background-color: #f5f5f5;
    border-bottom: 1px solid #555;
}
.table_summury_wrap .table_wrap table td.total {
    font-weight: 700;
    background-color: #f5f5f5;
}
.sub_contents {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
.sub_contents .download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.sub_contents .download:hover {
    background-color: #f5f5f5;
}
.sub_contents .download svg {
    margin-right: 4px;
}
.message_info h5 {
    padding: 8px 0 60px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.message_info ul {
    padding: 10px 16px 31px 16px;
}
.message_info li {
    position: relative;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
}
.message_info li.message {
    padding: 35px 14px 14px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fdfdfd;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.08) ,0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
}
.message_info li.message+li {
    margin-top: 30px;
}
.message_info li label {
    position: relative;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.message_info li label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    background-color: #707070;
    border-radius: 50%;
}
.message_info li.message label {
    position: absolute;
    top: 8px;
    left: 14px;
}
.message_info li .unit {
    font-size: 14px;
}
.no_data {
    padding: 100px 0;
    text-align: center;
    font-size: 14px;
}