.tab_wrap {    
    padding: 10px 16px;
}
.tab {
    display: flex;
    height: 36px;
    color: #fff;
    background-color: #999797;
}
.tab .tab_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.tab .tab_item[aria-selected="true"] {
    background-color: #e95c20;
}
.member_list_wrap {
    position: relative;
}
.sorting_wrap {
    position: relative;
    z-index: 3;
    height: 48px;
    padding: 12px 16px;
    border-bottom: 1px solid #c2c1c1;
}
.sorting_wrap .reponse_count {
    line-height: 24px;
    font-size: 12px;
    font-weight: 700;
}
.sorting_wrap .select_box {
    position: absolute;
    top: 12px;
    right: 4px;
    width: 120px;
}
.select_wrap .select_box {
    position: relative;
    width: 150px;
}
.select_box>button {
    position: relative;
    width: 100%;
    height: 28px;
    padding: 0 28px 0 12px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.select_box>button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 10px;
    height: 8px;
    margin-top: -4px;
    background-image: url(../public/images/arrow_down_icon_01.svg);
}
.select_wrap {
    position: absolute;
    top: 14px;
    right: 14px;
}
.select_box .select_box_list {
    position: absolute;
    z-index: 3;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ebeaea;
}
.select_box>button[aria-selected="true"]+.select_box_list {
    display: block;
}
.select_box .select_box_list li {
    padding: 4px 12px;
    line-height: 24px;
    cursor: pointer;
}
.select_box .select_box_list li:not(:first-child) {
    border-top: 1px solid #ebeaea;
}
.select_box .select_box_list li:hover {
    background-color: #ebeaea;
}
.list_contents {
    position: relative;
    padding: 20px 16px;
    background-color: #fafafa;
}
.list_contents .item_wrap {
    position: relative;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #ebeaea;
    border-radius: 6px;
}
.list_contents .item_wrap:not(:first-child) {
    margin-top: 10px;
}
.list_contents .item_wrap .company {
    line-height: 24px; 
    font-size: 16px;
    font-weight: 700;
}
.list_contents .item_wrap .user {
    margin-top: 10px;;
    line-height: 17px; 
    font-size: 14px;
}
.list_contents .item_wrap .user .phone {
    padding-left: 10px;
}
.list_contents .item_wrap .address {
    margin-top: 4px;
    line-height: 17px; 
    font-size: 14px;
}
.list_contents .item_wrap .table_wrap {
    padding-top: 10px;
}
.list_contents .item_wrap .table_wrap table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
}
.list_contents .item_wrap .table_wrap table th {
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    background-color: #ebeaea;
    border-bottom: 1px solid #2e3233;
}
.list_contents .item_wrap .table_wrap table td {
    height: 28px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ebeaea;
}